<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                O'flix
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        <script src="https://kit.fontawesome.com/fb0ca55657.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/app.js') }}" crossorigin="anonymous"></script>
        <script src="{{ asset('js/components/toggleMenu.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% include "partials/_nav.html.twig" %}

        {% block body %}
        
        {% endblock %}

        {% include "partials/_footer.html.twig" %}
    </body>
</html>
