<footer>

    <nav class="footer-nav">
        <a class="text" href=""><i class="fab fa-github-square fa-2x"></i></a>
        <a class="text" href=""><i class="fab fa-linkedin fa-2x"></i></a>
        <a class="text" href="{{ path('home') }}">HOME</a>
        <a class="text" href="{{ path('about_me') }}">ABOUT ME</a>
        <a class="text" href="{{ path('project_index') }}">PROJECTS</a>
    </nav>

</footer>