<header>
    <nav class="nav">
        <ul>
            <div class="nav__left">
                <h1 class="text">PORTFOLIO</h1>
            </div>
            <div class="nav__right">
                <li><button><a class="nav-link nav-link__home" href="{{ path('home') }}">Accueil</a></button></li>
                <li><button><a class="nav-link nav-link__about" href="{{ path('about_me') }}">A propos de moi</a></button></li>
                <li><button><a class="nav-link nav-link__projects" href="{{ path('project') }}">Mes projets</a></button></li>
            </div>
        </ul>
    </nav>
</header>

<body>