{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

 <div class="wrapper">
        <div class="wrapper__left">
            <h1>Bonjour, je m'appelle Benjamin Gleitz, développeur backend<br>
            <h2>
            Junior dans le milieu, j'ai de bonnes connaissances en développement Web. Je suis passionné et motivé pour évoluer dans le monde du développement Web.</h2>
        </div>
        <div class="wrapper__right">
            <div class="profil">
                <img class="profile__img" src="{{ asset('pictures/profil-removebg-preview.png') }}">
            </div>
        </div>
    </div>
{% endblock %}
