{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

 <div class="wrapper">
        <div class="wrapper__left">
            <h1>Hello ! <br> 
                Moi c'est Benjamin ! Developpeur back-end, fullstack en devenir ..</h1>
        </div>
        <div class="wrapper__right">
            <div class="profil">
                <img src="{{ asset('pictures/profil-removebg-preview.png') }}">
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}
