body {
    background-color: rgb(54, 51, 51);
    color: white;
    height: 40em;
}

h1 {
    font-size: 50px;
}

.text:hover {
	text-transform: uppercase;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b ,#03a9f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
    color: white;
    cursor: pointer;
    transition: all 1s;
}

/* NAVBAR */

.nav {
    padding: 0.5em 0;
    width: 100%;
    transition: 0.5s;
    position: fixed;
    z-index: 100;
    top: 53px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.6s;
}

.nav-link__about {
    padding: 15px 31px;
}

.nav-link__projects {
    padding: 15px 51px;
}

.nav-link__home {
    padding: 15px 80px;
}

.nav__left h1 {
    margin: 0;
}

.nav__right li{
    align-self: center;
}

.nav ul, .nav__right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav button {
    position: relative;
    width: 250px;
    height: 3em;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    background-color: #2a2a2a;
    transition: ease-out 0.6s;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.nav button:hover {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b ,#03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
    color: white;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.nav button:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

.nav button:hover:before {
    opacity: 1;
    z-index: -1;
}

.nav__right li{
    padding: 0 2em;
}

.nav li {
    list-style-type: none;
}



.sticky {
    background: #2a2a2a;
    transition: 0.5s;;
}
/* 
.sticky .text {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b ,#03a9f4);
} */

/*? CONTENT */

/*! WRAPPER GENERAL */

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b ,#03a9f4);
    border-radius: 30px;
    padding: 3px 0;
    margin-top: 114px;
}

@media (max-width: 1235px) {

    /* .nav {
        top: 53px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    } */

    .nav li button {
        width: 150px;
    }

    .nav li button a {
        padding: 0;
    }

    /* .wrapper {
        margin-top: 114px;
    } */
}

@media (max-width: 1000px) {

    .nav {
        left: 50%;
        top: 75px;
        transform: translate(-50%, -50%);
    }

    .text {
        margin-right: 12em;
    }

    .nav li {
        padding: 0;
    }

    .nav li button {
        width: 150px;
        margin: 0 2em;
    }

    .nav li button a {
        padding: 0;
    }

    .nav ul{
        flex-direction: column;
        padding: 0;
    }

    .nav__left {
        text-align: center;
    }

    .nav__right {
        margin-top: 1em;
    }

    .wrapper {
        flex-direction: column;
        margin-top: 170px;
    }
}

@media (max-width: 583px) {

    

    .nav li button {
        margin: 0;
    }
}

.wrapper_project {
    height: auto;
}

.wrapper__left, .wrapper__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    background: #363333;
    align-items: center;
}

.wrapper__left h1, .wrapper__right h1, .wrapper__left p{
    width: 80%;
    margin: auto;
}

/*! PROFILE PICTURE */

.wrapper__right {
    position: relative;
    display: flex;
}

.wrapper__right .profil {
    position: relative;
	max-width: 100%;
    height: auto;
    background: #444;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(95, 187, 230, 0.5) 25%, #363333 25%, #363333 50%, rgb(95, 187, 230, 0.5) 50%, rgb(95, 187, 230, 0.5) 75%, #363333 75%, #363333 100%);
    background-size: 40px 40px;
    filter: grayscale(1);
    animation: animateBg 2s linear infinite;
    animation-play-state: paused;
    transition: filter 1s;
}

@keyframes animateBg {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 40px;
    }
}

.wrapper__right .profil:hover {
    animation-play-state: running;
    filter: grayscale(0);
}

img {
    border-radius: 50%;
    filter: contrast(150%);
    margin: auto;
    padding: 0;
	max-width: 100%;
    height: 100%;
}

/*! SKILLS - ABOUT ME */

.skill {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.skill ol{
    list-style: none;
    width: 50%;
    margin: auto;
    padding: 0;
}

ol li {
    margin: 10px 0;
    padding: 20px 50px;
    box-sizing: border-box;
    font-size: 1.2rem;
    background: rgb(23,23,23);
    cursor: pointer;
    position: relative;
    transition: all .4s;
    z-index: 5;
}

ol li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: red;
    transition: all .4s;
    z-index: -1;
}

ol li:hover::before {
    width: 100%;
}

.skill__left li:nth-child(1)::before {
    background: #db4437;
}

.skill__left li:nth-child(2)::before {
    background: #4285f4;
}

.skill__left li:nth-child(3)::before {
    background: #753be0;
}

.skill__left li:nth-child(4)::before {
    background: #f4b400;
}

.skill__right li:nth-child(1)::before {
    background: rgb(110, 110, 110);
}

.skill__right li:nth-child(2)::before {
    background: #f4a142;
}

.skill__right li:nth-child(3)::before {
    background: black;
}

.skill__right li:nth-child(4)::before {
    background: #48CEF7;
}
/*! PROJECTS */

.projects {
    width: 100%;
    background-color: rgb(54, 51, 51);
}

.projects h1 {
    width: 50%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.project_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.project_card {
    margin: 2em 2em 7em;
    width: 30em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project_card img {
    max-width: 100%;
	height: auto;
    border-radius: 0;
}

.project_card__name {
    color: black;
    text-align: center;
    max-width: 100%;
}
/* 
.project_card__name:hover {
    background: linear-gradient(#e66465, #9198e5);
} */



/* card */

.project_card__name {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button_container {

    width: 30em;
}

.btn_card {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    margin: 30px 0;
    padding: 1em 2em;
    border: 2px solid #ff7675;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    font-weight: bold;
}

.btn_card::before {
    background: #ff7675;
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn_card:hover::before {
    height: 380%;
}










